In [7]:
import pandas as pd

In [12]:
df = pd.read_csv('/home/elia/Dropbox/Files/KUL/research/codebases/homework/resc/data/tidy/accidents/accidents_Train_F00_bayesfusion.csv')

In [10]:
df.head()

,att_0,att_1,att_2,att_3,att_4,att_5,att_6,att_7,att_8,att_9,...,att_101,att_102,att_103,att_104,att_105,att_106,att_107,att_108,att_109,att_110
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,1,0,0,0,0,0
2,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,1,0,0,1,1,1,...,0,0,0,0,1,0,0,0,0,0
4,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df.nunique()

att_0      2
att_1      2
att_2      2
att_3      2
att_4      2
att_5      2
att_6      2
att_7      2
att_8      2
att_9      2
att_10     2
att_11     2
att_12     2
att_13     2
att_14     2
att_15     2
att_16     2
att_17     2
att_18     2
att_19     2
att_20     2
att_21     2
att_22     2
att_23     2
att_24     2
att_25     2
att_26     2
att_27     2
att_28     2
att_29     2
          ..
att_80     2
att_81     2
att_82     2
att_83     2
att_84     2
att_85     2
att_86     2
att_87     2
att_88     2
att_89     2
att_90     2
att_91     2
att_92     2
att_93     2
att_94     2
att_95     2
att_96     2
att_97     2
att_98     2
att_99     2
att_100    2
att_101    2
att_102    2
att_103    2
att_104    2
att_105    2
att_106    2
att_107    2
att_108    2
att_109    2
Length: 110, dtype: int64

In [4]:
cte_cols_here = [c for c in df if df[c].nunique() < 2]
cte_cols_here

['att_0']

In [5]:
cte_cols = []

In [6]:
cte_cols.extend(['att_0', 'att_1'])
cte_cols

['att_0', 'att_1']